<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button id="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>employees</ion-title>

    <ion-fab vertical="center" horizontal="end" slot="fixed" slot="end">
      <ion-fab-button (click)="addEmployee()">
        <ion-icon name="person-add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-toolbar>
    <ion-list>
      <ion-item>
        <ion-input name="belly" ngModel (ngModelChange)="onSelectLevelChanges($event)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Filter by:</ion-label>

        <ion-select ngModel (ngModelChange)="onSelectLevelChanges($event)" #selectMe [interfaceOptions]="filterOption"
          interface="action-sheet" placeholder="select one">
          <ion-select-option value="0">All</ion-select-option>
          <ion-select-option *ngFor="let level of levels" [value]="level.id">{{level.title}}</ion-select-option>
        </ion-select>

      </ion-item>

    </ion-list>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <ion-list *ngFor="let employe of employees">
          <ion-item detail>
            <ion-label class="ion-margin-end">
              <h2>Name: {{employe.firstName + " "+ employe.lastName}}</h2>
              <div class="list-content">
                <p><strong>DOB:</strong> {{employe.dateOfBirth.seconds*1000 | date: "mediumDate"}}</p>
                <p class="ion-margin-end"><strong>Status:</strong> {{employe.status}}</p>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>