<ion-app>
  <ion-menu side="start" menuId="m1" *ngIf="loginService.getEmployee().level==3">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Our Care</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="./team/dash-board">
            <ion-icon name="home" slot="start" color="primary"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="./team/t/dash-board/schedule">
            <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
            <ion-label>Schedules</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="./team/t/dash-board/employees">
            <ion-icon name="people-circle" slot="start" color="primary"></ion-icon>
            <ion-label>Staffs</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="./team/t/dash-board/customers">
            <ion-icon name="people" slot="start" color="primary"></ion-icon>
            <ion-label>Patients</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/bookings">
            <ion-icon name="car" slot="start" color="primary"></ion-icon>
            <ion-label>Tour</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" button (click)="onLogout()">
            <ion-icon name="exit" slot="start" color="primary"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>


      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main id="m1"></ion-router-outlet>
</ion-app>