<ion-header>
  <ion-toolbar>
    <ion-title>Add Treatment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2">
        <form (ngSubmit)="onAddMedication()" medicationForm="ngForm">
          <ion-item>
            <ion-label position="floating">Name <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required name="name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">PZN </ion-label>
            <ion-input required name="pzn" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Pills count</ion-label>
            <ion-input required name="pzn" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" value="1">Intake frequency</ion-label>
            <ion-select placeholder="Select intake frequency" interface="action-sheet" required>
              <ion-select-option value="0">Select intake frequency</ion-select-option>
              <ion-select-option value="4">Once</ion-select-option>
              <ion-select-option value="1">Daily</ion-select-option>
              <ion-select-option value="2">Every 2 days</ion-select-option>
              <ion-select-option value="3">Every 3 days</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Daily intake count</ion-label>
            <ion-select placeholder="Select how many times a day  " interface="action-sheet" required>
              <ion-select-option value="0">Select how many times a day</ion-select-option>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">4</ion-select-option>
            </ion-select>
          </ion-item>


          <ion-item>
            <ion-label position="floating">Each intake</ion-label>
            <ion-input required name="pzn" type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Pills finished : {{5}} days</ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Reminder</ion-label>
            <ion-select placeholder="Select reminder before pills finished" interface="action-sheet" required>
              <ion-select-option value="0">Select reminder before pills finished</ion-select-option>
              <ion-select-option value="1">Last day</ion-select-option>
              <ion-select-option value="2">2 days</ion-select-option>
              <ion-select-option value="3">3 days</ion-select-option>
              <ion-select-option value="4">4 days</ion-select-option>
              <ion-select-option value="5">1 week</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Customer </ion-label>
            <ion-input required name="" type="text"></ion-input>
            <ion-select placeholder="Select how many times a day" interface="action-sheet" required>
              <ion-select-option value="0">Select how many times a day</ion-select-option>
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">4</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Search Staff</ion-label>
            <ion-input required name="" type="text"></ion-input>
          </ion-item>
          <ion-item>

            <ion-label position="floating">Staff Level</ion-label>
            <ion-select placeholder="Select how many times a day" interface="action-sheet" required>
              <ion-select-option value="0">select</ion-select-option>
              <ion-select-option value="1">Care assistance</ion-select-option>
              <ion-select-option value="2">Nurse</ion-select-option>
              <ion-select-option value="3">Supervisor</ion-select-option>

            </ion-select>

          </ion-item>
          <ion-col>
            <ion-button block color="primary" type="submit" [disabled]="">
              Login
            </ion-button>
          </ion-col>
        </form>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>